In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### EDA & Feature Engineering

In [51]:
data=pd.read_csv("../Data/Car Ownership.csv")

In [52]:
data.head()

,Occupation,Monthly Income,Credit Score,Years of Employment,Finance Status,Finance History,Car,Number of Children
0,Teacher,40000,750.0,10,Good,No issues,Yes,2
1,Engineer,60000,800.0,8,Good,No issues,Yes,1
2,Nurse,25000,650.0,5,Fair,Late payment 2 months ago,No,0
3,Doctor,80000,900.0,12,Excellent,No issues,Yes,3
4,Businessman,100000,700.0,15,Good,Late payment 6 months ago,Yes,2

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Occupation           490 non-null    object
 1   Monthly Income       487 non-null    object
 2   Credit Score         460 non-null    float64
 3   Years of Employment  457 non-null    object
 4   Finance Status       477 non-null    object
 5   Finance History      472 non-null    object
 6   Car                  480 non-null    object
 7   Number of Children   375 non-null    object
dtypes: float64(1), object(7)
memory usage: 31.4+ KB

In [54]:
data.describe()

       Credit Score
count    460.000000
mean     702.969565
std       69.232323
min      500.000000
25%      650.000000
50%      700.000000
75%      750.000000
max      900.000000

In [55]:
data['Car'].value_counts()

Yes    301
No     179
Name: Car, dtype: int64

In [56]:
for col in data.columns:
    print(f"--------------{col}--------------")
    print(data[col].value_counts())
    print("\n")

--------------Occupation--------------
Chef                         34
Electrician                  19
Graphic Designer             17
Nurse                        16
Architect                    13
                             ..
Retail Salesperson            1
Bartender                     1
Librarian                     1
Elementary School Teacher     1
Customer Support              1
Name: Occupation, Length: 116, dtype: int64


--------------Monthly Income--------------
$4,500       33
$3,500       27
$3,200       20
$4,200       18
$3,000       18
             ..
10000 USD     1
3500 USD      1
2.5k          1
6000 usd      1
$7            1
Name: Monthly Income, Length: 98, dtype: int64


--------------Credit Score--------------
670.0    32
680.0    31
720.0    29
650.0    27
690.0    22
         ..
830.0     1
770.0     1
890.0     1
840.0     1
641.0     1
Name: Credit Score, Length: 64, dtype: int64


--------------Years of Employment--------------
4 years     74
3 years     58
2 years     54
5 years     53
6 years     49
1 year      39
7 years     31
8 years     13
3            9
10           8
1            7
8            7
9 years      6
5            6
2            5
4            4
6            4
10 years     4
12           4
7            3
7 y          2
2 year       2
2 y          2
15           2
20           2
3 year       1
6 year       1
12 years     1
3 y          1
11 years     1
7 year       1
8 year       1
4 year       1
5 year       1
Name: Years of Employment, dtype: int64


--------------Finance Status--------------
Stable       304
Unstable      87
Fair          28
Good          26
Excellent     22
Poor           8
Unknow         1
Unkonw         1
Name: Finance Status, dtype: int64


--------------Finance History--------------
No significant issues                        313
Missed payments in the past                   52
Late payments                                 31
Late payments, collections                    17
No issues                                     12
Poor                                          12
Excellent                                     10
Good                                           8
Fair                                           6
Late payment 2 months ago                      2
Late payment 6 months ago                      2
Late payment 3 months ago                      2
Late payment 1 month ago                       2
Late payment                                   1
No significant issue                           1
Missed payments, collections, charge-offs      1
Name: Finance History, dtype: int64


--------------Car--------------
Yes    301
No     179
Name: Car, dtype: int64


--------------Number of Children--------------
0     120
1     112
2      95
na     29
3      18
4       1
Name: Number of Children, dtype: int64

#### converting columns into their correct format

In [57]:
def removeUnnecessaryString(element):
    final=""
    for c in str(element):
        if c.isnumeric():
            final+=c
    if final!="":
        return float(final)
    else:
        return np.nan

In [58]:
data

,Occupation,Monthly Income,Credit Score,Years of Employment,Finance Status,Finance History,Car,Number of Children
0,Teacher,40000,750.0,10,Good,No issues,Yes,2
1,Engineer,60000,800.0,8,Good,No issues,Yes,1
2,Nurse,25000,650.0,5,Fair,Late payment 2 months ago,No,0
3,Doctor,80000,900.0,12,Excellent,No issues,Yes,3
4,Businessman,100000,700.0,15,Good,Late payment 6 months ago,Yes,2
...,...,...,...,...,...,...,...,...
495,Project Manager,"$7,000",730.0,5 years,Stable,No significant issues,Yes,0
496,Chef,"$4,500",680.0,4 years,Stable,No significant issues,Yes,0
497,Interior Designer,"$5,500",690.0,4 years,Stable,No significant issues,Yes,1
498,Medical Assistant,"$3,500",640.0,3 years,Stable,No significant issues,No,1
499,Customer Service Rep,"$3,200",641.0,4 years,Stable,No significant issues,No,2

In [59]:
data['Monthly Income']=data['Monthly Income'].apply(removeUnnecessaryString)
data['Years of Employment']=data['Years of Employment'].apply(removeUnnecessaryString)
data['Number of Children']=data['Number of Children'].apply(removeUnnecessaryString)

#### Handle null values

In [60]:
data.isna().sum()

Occupation              10
Monthly Income          14
Credit Score            40
Years of Employment     43
Finance Status          23
Finance History         28
Car                     20
Number of Children     154
dtype: int64

In [61]:
for col in data.columns:
    if data[col].isnull().any():
        print(f"{col}-------{(data[col].isnull().sum()/data.shape[0])*100:.2f}")

Occupation-------2.00
Monthly Income-------2.80
Credit Score-------8.00
Years of Employment-------8.60
Finance Status-------4.60
Finance History-------5.60
Car-------4.00
Number of Children-------30.80

##### handle it using statistic properties

In [62]:
categorical_columns=[]
numerical_columns=[]

for col in data.columns:
    if data[col].dtype=="object":
        categorical_columns.append(col)
    else:
        numerical_columns.append(col)

In [63]:
numerical_columns

['Monthly Income', 'Credit Score', 'Years of Employment', 'Number of Children']

In [64]:
X=data.drop('Car',axis=1)
Y=data['Car']

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [67]:
qualitative_null_value_columns=[]
quantitative_null_value_columns=[]
for column in X_test.columns:
    if data[column].isnull().any() and data[column].dtype != "object":
        quantitative_null_value_columns.append(column)
    else:
        qualitative_null_value_columns.append(column)

In [68]:
qualitative_null_value_columns

['Occupation', 'Finance Status', 'Finance History']

In [69]:
from sklearn.impute import SimpleImputer

In [70]:
numeric_imputer=SimpleImputer(strategy='mean')

In [71]:
X_train[quantitative_null_value_columns]=numeric_imputer.fit_transform(X_train[quantitative_null_value_columns])

In [72]:
X_test[quantitative_null_value_columns]=numeric_imputer.transform(X_test[quantitative_null_value_columns])

In [73]:
categorical_imputer=SimpleImputer(strategy="most_frequent")

In [74]:
X_train[qualitative_null_value_columns]=categorical_imputer.fit_transform(X_train[qualitative_null_value_columns])
X_test[qualitative_null_value_columns]=categorical_imputer.transform(X_test[qualitative_null_value_columns])

In [75]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 107 to 172
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Occupation           400 non-null    object
 1   Monthly Income       400 non-null    float64
 2   Credit Score         400 non-null    float64
 3   Years of Employment  400 non-null    float64
 4   Finance Status       400 non-null    object
 5   Finance History      400 non-null    object
 6   Number of Children   400 non-null    float64
dtypes: float64(4), object(3)
memory usage: 25.0+ KB

In [76]:
X_train['Number of Children']=X_train['Number of Children'].astype(int)
X_test['Number of Children']=X_test['Number of Children'].astype(int)

In [77]:
Y_train=Y_train.to_frame()
Y_test=Y_test.to_frame()

#### Encode the categorical variable

In [78]:
categorical_columns[0:3]

['Occupation', 'Finance Status', 'Finance History']

In [79]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [80]:
X_train

,Occupation,Monthly Income,Credit Score,Years of Employment,Finance Status,Finance History,Number of Children
107,Graphic Designer,3200.0,670.000000,3.0,Stable,No significant issues,0
336,Social Worker,3600.0,703.716621,2.0,Unstable,Missed payments in the past,3
71,Chef,2800.0,630.000000,1.0,Unstable,Missed payments in the past,1
474,Public Relations,5800.0,690.000000,4.0,Stable,No significant issues,0
6,Teacher,35000.0,700.000000,8.0,Fair,Late payment 3 months ago,1
...,...,...,...,...,...,...,...
323,Insurance Agent,4200.0,680.000000,3.0,Fair,No significant issues,1
192,Marketing Analyst,5000.0,730.000000,4.0,Stable,No significant issues,0
117,Optometrist,9000.0,820.000000,8.0,Stable,No significant issue,3
47,Web Developer,6000.0,730.000000,5.0,Stable,No significant issues,1
172,Electrician,3800.0,660.000000,3.0,Stable,No significant issues,2

In [81]:
categorical_encoder=OneHotEncoder(handle_unknown="ignore")

In [82]:
column_transformer = ColumnTransformer(transformers=[('encoder', categorical_encoder , categorical_columns[0:3])], remainder='passthrough')

In [83]:
column_transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('encoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 ['Occupation', 'Finance Status',
                                  'Finance History'])])

In [84]:
X_train_encoded=column_transformer.transform(X_train).toarray()

In [85]:
X_train_encoded.shape

(400, 137)

In [86]:
column_transformer.get_feature_names()

c:\Users\Keerththanan\MYPROGRAM\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['encoder__x0_Account Executive',
 'encoder__x0_Account Manager',
 'encoder__x0_Accountant',
 'encoder__x0_Architect',
 'encoder__x0_Art Director',
 'encoder__x0_Attorney',
 'encoder__x0_Automotive Mechanic',
 'encoder__x0_Bank Teller',
 'encoder__x0_Barista',
 'encoder__x0_Bartender',
 'encoder__x0_Business Analyst',
 'encoder__x0_Business Owner',
 'encoder__x0_Businessman',
 'encoder__x0_Carpenter',
 'encoder__x0_Chef',
 'encoder__x0_Civil Engineer',
 'encoder__x0_Computer Programmer',
 'encoder__x0_Construction Worker',
 'encoder__x0_Copywriter',
 'encoder__x0_Customer Service',
 'encoder__x0_Customer Service Rep',
 'encoder__x0_Customer Support',
 'encoder__x0_Data Analyst',
 'encoder__x0_Data Scientist',
 'encoder__x0_Dental Assistant',
 'encoder__x0_Dental Hygienist',
 'encoder__x0_Dentist',
 'encoder__x0_Designer',
 'encoder__x0_Doctor',
 'encoder__x0_Electrical Engineer',
 'encoder__x0_Electrician',
 'encoder__x0_Engineer',
 'encoder__x0_Entrepreneur',
 'encoder__x0_Event Planner',
 'encoder__x0_Executive Assistant',
 'encoder__x0_Fashion Designer',
 'encoder__x0_Financial Advisor',
 'encoder__x0_Financial Analyst',
 'encoder__x0_Financial Manager',
 'encoder__x0_Financial Planner',
 'encoder__x0_Flight Attendant',
 'encoder__x0_Graphic Artist',
 'encoder__x0_Graphic Design',
 'encoder__x0_Graphic Designer',
 'encoder__x0_HR Generalist',
 'encoder__x0_HR Manager',
 'encoder__x0_HR Specialist',
 'encoder__x0_Hair Stylist',
 'encoder__x0_Hairdresser',
 'encoder__x0_Human Resources',
 'encoder__x0_Human Resources Manager',
 'encoder__x0_IT Consultant',
 'encoder__x0_IT Manager',
 'encoder__x0_IT Support Specialist',
 'encoder__x0_Insurance Agent',
 'encoder__x0_Interior Designer',
 'encoder__x0_Investment Banker',
 'encoder__x0_Lawyer',
 'encoder__x0_Librarian',
 'encoder__x0_Marketing',
 'encoder__x0_Marketing Analyst',
 'encoder__x0_Marketing Coordinator',
 'encoder__x0_Marketing Exec',
 'encoder__x0_Marketing Manager',
 'encoder__x0_Marketing Specialist',
 'encoder__x0_Mechanic',
 'encoder__x0_Mechanical Designer',
 'encoder__x0_Mechanical Engineer',
 'encoder__x0_Mechanical Technician',
 'encoder__x0_Medical Assistant',
 'encoder__x0_Musician',
 'encoder__x0_Nurse',
 'encoder__x0_Nurse Practitioner',
 'encoder__x0_Office Manager',
 'encoder__x0_Optometrist',
 'encoder__x0_Personal Trainer',
 'encoder__x0_Pharmacist',
 'encoder__x0_Photographer',
 'encoder__x0_Physical Education Teacher',
 'encoder__x0_Physical Therapist',
 'encoder__x0_Physical Therapist Assistant',
 'encoder__x0_Physical Trainer',
 'encoder__x0_Physician',
 'encoder__x0_Physician Assistant',
 'encoder__x0_Pilot',
 'encoder__x0_Plumber',
 'encoder__x0_Police Officer',
 'encoder__x0_Project Manager',
 'encoder__x0_Psychologist',
 'encoder__x0_Public Relations',
 'encoder__x0_Real Estate Ag',
 'encoder__x0_Real Estate Agent',
 'encoder__x0_Registered Nurse',
 'encoder__x0_Retail Manager',
 'encoder__x0_Sales Manager',
 'encoder__x0_Sales Representative',
 'encoder__x0_Salesperson',
 'encoder__x0_Social Media Manager',
 'encoder__x0_Social Worker',
 'encoder__x0_Software Dev',
 'encoder__x0_Software Developer',
 'encoder__x0_Software Engineer',
 'encoder__x0_Teacher',
 'encoder__x0_Veterinarian',
 'encoder__x0_Veterinarian Technician',
 'encoder__x0_Waiter/Waitress',
 'encoder__x0_Web Designer',
 'encoder__x0_Web Developer',
 'encoder__x0_Writer',
 'encoder__x1_Excellent',
 'encoder__x1_Fair',
 'encoder__x1_Good',
 'encoder__x1_Poor',
 'encoder__x1_Stable',
 'encoder__x1_Unknow',
 'encoder__x1_Unkonw',
 'encoder__x1_Unstable',
 'encoder__x2_Excellent',
 'encoder__x2_Fair',
 'encoder__x2_Good',
 'encoder__x2_Late payment',
 'encoder__x2_Late payment 1 month ago',
 'encoder__x2_Late payment 2 months ago',
 'encoder__x2_Late payment 3 months ago',
 'encoder__x2_Late payment 6 months ago',
 'encoder__x2_Late payments',
 'encoder__x2_Late payments, collections',
 'encoder__x2_Missed payments in the past',
 'encoder__x2_Missed payments, collections, charge-offs',
 'encoder__x2_No issues',
 'encoder__x2_No significant issue',
 'encoder__x2_No significant issues',
 'encoder__x2_Poor',
 'Monthly Income',
 'Credit Score',
 'Years of Employment',
 'Number of Children']

In [87]:
X_test_encoded=column_transformer.transform(X_test).toarray()

In [88]:
def ownLabelEncodder(x):
    if x=="Yes":
        return 1
    else:
        return 0

In [89]:
Y_test

     Car
90   Yes
254  Yes
283   No
445  Yes
461   No
..   ...
372  Yes
56    No
440  Yes
60   Yes
208   No

[100 rows x 1 columns]

In [90]:
Y_train=Y_train['Car'].apply(ownLabelEncodder)
Y_test=Y_test['Car'].apply(ownLabelEncodder)

In [92]:
from sklearn.linear_model import LogisticRegression

In [93]:
model=LogisticRegression()

In [95]:
model.fit(X_train_encoded,Y_train)

LogisticRegression()

In [100]:
predicted_value=model.predict(X_test_encoded)

In [104]:
predicted_value

array([1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0], dtype=int64)

In [96]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [101]:
accuracy_score(Y_test,predicted_value)

0.8

In [102]:
confusion_matrix(Y_test,predicted_value)

array([[26, 13],
       [ 7, 54]], dtype=int64)

In [107]:
model.predict_proba(X_test_encoded)

array([[8.74761372e-03, 9.91252386e-01],
       [4.72481596e-02, 9.52751840e-01],
       [9.14299348e-01, 8.57006523e-02],
       [4.10418876e-02, 9.58958112e-01],
       [6.42911020e-01, 3.57088980e-01],
       [4.21751353e-04, 9.99578249e-01],
       [9.39601998e-01, 6.03980019e-02],
       [3.19469001e-01, 6.80530999e-01],
       [4.07061973e-02, 9.59293803e-01],
       [5.39465217e-02, 9.46053478e-01],
       [1.38030755e-01, 8.61969245e-01],
       [2.65386918e-01, 7.34613082e-01],
       [2.88045176e-01, 7.11954824e-01],
       [5.80623286e-02, 9.41937671e-01],
       [1.39761447e-02, 9.86023855e-01],
       [3.57722684e-01, 6.42277316e-01],
       [1.08267179e-02, 9.89173282e-01],
       [6.32184574e-01, 3.67815426e-01],
       [3.19868236e-01, 6.80131764e-01],
       [9.08276587e-01, 9.17234131e-02],
       [9.79946970e-01, 2.00530300e-02],
       [1.12002693e-01, 8.87997307e-01],
       [2.16619111e-01, 7.83380889e-01],
       [5.20398237e-02, 9.47960176e-01],
       [3.19130973e-01, 6.80869027e-01],
       [1.24458878e-02, 9.87554112e-01],
       [3.31949117e-03, 9.96680509e-01],
       [8.94949352e-01, 1.05050648e-01],
       [6.07765262e-01, 3.92234738e-01],
       [2.14369282e-01, 7.85630718e-01],
       [3.16395898e-03, 9.96836041e-01],
       [5.93442608e-01, 4.06557392e-01],
       [1.57767675e-01, 8.42232325e-01],
       [2.84888216e-01, 7.15111784e-01],
       [7.21207151e-02, 9.27879285e-01],
       [9.79147203e-03, 9.90208528e-01],
       [9.39121977e-01, 6.08780228e-02],
       [2.56859434e-01, 7.43140566e-01],
       [9.88826264e-01, 1.11737359e-02],
       [1.20705873e-01, 8.79294127e-01],
       [4.13077579e-01, 5.86922421e-01],
       [9.78249668e-01, 2.17503321e-02],
       [2.69822953e-01, 7.30177047e-01],
       [3.05347859e-01, 6.94652141e-01],
       [9.79013659e-01, 2.09863413e-02],
       [2.37139591e-01, 7.62860409e-01],
       [5.57139536e-02, 9.44286046e-01],
       [9.75357763e-01, 2.46422369e-02],
       [2.71233866e-01, 7.28766134e-01],
       [9.83495301e-01, 1.65046994e-02],
       [9.29121511e-02, 9.07087849e-01],
       [3.14046198e-01, 6.85953802e-01],
       [9.69504934e-01, 3.04950658e-02],
       [9.53133890e-01, 4.68661096e-02],
       [3.63125016e-01, 6.36874984e-01],
       [9.72346581e-01, 2.76534189e-02],
       [2.70976727e-02, 9.72902327e-01],
       [5.38887537e-03, 9.94611125e-01],
       [2.40619779e-01, 7.59380221e-01],
       [5.00749075e-03, 9.94992509e-01],
       [8.52913843e-02, 9.14708616e-01],
       [5.07478363e-05, 9.99949252e-01],
       [8.94949352e-01, 1.05050648e-01],
       [7.13322513e-01, 2.86677487e-01],
       [3.40339513e-01, 6.59660487e-01],
       [2.46918668e-01, 7.53081332e-01],
       [2.46918668e-01, 7.53081332e-01],
       [3.16534598e-01, 6.83465402e-01],
       [8.06610831e-01, 1.93389169e-01],
       [6.50727693e-01, 3.49272307e-01],
       [3.19642838e-02, 9.68035716e-01],
       [9.75357763e-01, 2.46422369e-02],
       [1.73546181e-03, 9.98264538e-01],
       [3.20619441e-01, 6.79380559e-01],
       [9.73451208e-01, 2.65487918e-02],
       [1.08022975e-01, 8.91977025e-01],
       [1.01540499e-04, 9.99898460e-01],
       [3.28859849e-02, 9.67114015e-01],
       [6.08298685e-01, 3.91701315e-01],
       [2.73948958e-01, 7.26051042e-01],
       [5.61517078e-02, 9.43848292e-01],
       [1.81639029e-01, 8.18360971e-01],
       [1.46292716e-01, 8.53707284e-01],
       [1.11542061e-01, 8.88457939e-01],
       [6.04426858e-01, 3.95573142e-01],
       [7.46620662e-02, 9.25337934e-01],
       [8.12266583e-01, 1.87733417e-01],
       [9.76766201e-01, 2.32337992e-02],
       [3.01931540e-02, 9.69806846e-01],
       [9.52623781e-01, 4.73762189e-02],
       [3.72624052e-02, 9.62737595e-01],
       [1.12608984e-01, 8.87391016e-01],
       [9.31801942e-01, 6.81980582e-02],
       [4.00123919e-01, 5.99876081e-01],
       [9.14054701e-01, 8.59452987e-02],
       [3.65363339e-02, 9.63463666e-01],
       [9.39601998e-01, 6.03980019e-02],
       [4.68517299e-02, 9.53148270e-01],
       [1.92868880e-02, 9.80713112e-01],
       [6.01179714e-01, 3.98820286e-01]])

In [109]:
from sklearn.svm import SVC
accuracy_score(Y_test,SVC().fit(X_train_encoded,Y_train).predict(X_test_encoded))

0.76